[submodule "modules/AvaloniaEdit"]
	path = modules/AvaloniaEdit
	url = https://github.com/AvaloniaUI/AvaloniaEdit.git
[submodule "modules/AvaloniaBehaviors"]
	path = modules/AvaloniaBehaviors
	url = https://github.com/wieslawsoltes/AvaloniaBehaviors.git
