.highlight {
    color: white;
    font-size: 2.5rem;
    display: block;
}

.purple {
    color: #8b44ac;
}


.icon {
    opacity : 0.03;
    height: 35%;
    width: 35%;
    position : absolute;
    background-repeat: no-repeat;
    right: 0px;
    bottom: 0px;
    margin-right: 3%;
    margin-bottom: 5%;
    z-index: 5000;
    background-position: right bottom;
}

#out {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow:hidden;
}

#avalonia-splash a{
    color: whitesmoke;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#avalonia-splash {
    position: relative;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    background: #1b2a4e;
    font-family: 'Nunito', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.splash-close {
    animation: fadeout 0.5s linear 1s forwards;
}


@keyframes fadeout {
    0% { 
        opacity:100%;
    }
    100% { 
        opacity:0;
        visibility: collapse;
    }
}

.avalonia-input-element {
    z-index: -1;
}
